<!doctype html>
<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>大润发 - 购物车</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/css/vendor.css">

    <!-- style css -->
    <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>

    <!-- Preloader Start -->
    <div class="zakas-preloader active">
        <div class="zakas-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="zakas-child zakas-bounce1"></div>
            <div class="zakas-child zakas-bounce2"></div>
            <div class="zakas-child zuka-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- 导航栏 -->
        <header class="header">
            <div class="header-inner fixed-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-10 col-lg-9 col-3">
                            <nav class="main-navigation">
                                <div class="site-branding">
                                    <a href="/" class="logo">
                                        <figure class="logo--normal">
                                            <img src="assets/img/logo/logo.png" alt="Logo">
                                        </figure>
                                    </a>
                                </div>
                                <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator == null}">
                                    <ul class="mainmenu">
                                        <li class="mainmenu__item menu-item-has-children active">
                                            <a href="/" class="mainmenu__link">
                                                <span class="mm-text">主页</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="/shopController" class="mainmenu__link">
                                                <span class="mm-text">商店</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="Blog.html" class="mainmenu__link">
                                                <span class="mm-text">通知</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item">
                                            <a href="contact-us.html" class="mainmenu__link">
                                                <span class="mm-text">联系我们</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator != null}">
                                    <ul class="mainmenu">
                                        <li class="mainmenu__item menu-item-has-children active">
                                            <a href="/" class="mainmenu__link">
                                                <span class="mm-text">主页</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="/showProductionList" class="mainmenu__link">
                                                <span class="mm-text">商品列表</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="Blog.html" class="mainmenu__link">
                                                <span class="mm-text">创建通知</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-9 text-right">
                            <!--用户登录时导航信息-->
                            <ul class="header-toolbar" th:if="${session.user != null && session.administrator == null}">
                                <li class="header-toolbar__item">
                                    <a href="wishlist.html" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-like"></i>
                                    </a>
                                </li>
                                <!--购物车模态框-->
                                <li class="header-toolbar__item mini-cart-item">
                                    <a id="cartHref" href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                        <i class="flaticon flaticon-shopping-cart"></i>
                                    </a>
                                </li>

                                <li class="header-toolbar__item user-info">
                                    <a href="/myAccount" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                    <ul class="active user-info-menu">
                                        <li>
                                            <a href="/myAccount">我的账户</a>
                                        </li>
                                        <li>
                                            <a href="cart.html">购物车</a>
                                        </li>

                                        <li>
                                            <a href="wishlist.html">心愿列表</a>
                                        </li>
                                        <li>
                                            <a href="/logout">登出</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="header-toolbar__item">
                                    <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                        <i class="flaticon flaticon-search"></i>
                                    </a>
                                </li>
                                <li class="header-toolbar__item d-lg-none">
                                    <a href="#" class="header-toolbar__btn menu-btn">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>

                            <!--用户未登录时导航信息-->
                            <ul class="header-toolbar" th:if="${session.user == null && session.administrator == null} ">
                                <li class="header-toolbar__item user-info">
                                    <a href="/loginOrRegister" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                    <ul class="active user-info-menu">
                                        <li>
                                            <a href="/loginOrRegister">登录 & 注册</a>
                                        </li>
                                        <li>
                                            <a href="/managerLoginTemp">管理员登录</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-toolbar__item">
                                    <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                        <i class="flaticon flaticon-search"></i>
                                    </a>
                                </li>
                                <li class="header-toolbar__item d-lg-none">
                                    <a href="#" class="header-toolbar__btn menu-btn">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>

                            <!--管理员登录时-->
                            <!--用户登录时导航信息-->
                            <ul class="header-toolbar" th:if="${session.user == null && session.administrator != null}">
                                <li class="header-toolbar__item user-info">
                                    <a href="/managerPage" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                    <ul class="active user-info-menu">
                                        <li>
                                            <a href="/showProductionList">商品列表</a>
                                        </li>
                                        <li>
                                            <a href="/managerPage">添加新的商品</a>
                                        </li>
                                        <li>
                                            <a href="/logout">登出</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="header-toolbar__item">
                                    <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                        <i class="flaticon flaticon-search"></i>
                                    </a>
                                </li>
                                <li class="header-toolbar__item d-lg-none">
                                    <a href="#" class="header-toolbar__btn menu-btn">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 查询页面 -->
        <div class="searchform__popup" id="searchForm">
            <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="searchform__body">
                <p>开始输入内容，然后按Enter键进行搜索</p>
                <form class="searchform">
                    <input type="text" name="popup-search" id="popup-search" class="searchform__input" placeholder="搜索整个商店...">
                    <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i></button>
                </form>
            </div>
        </div>

        <!-- Breadcrumb area Start -->
        <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                            <h1 class="page-title">购物车</h1>
                            <ul class="breadcrumb">
                                <li><a href="index.html">主页</a></li>
                                <li class="current"><span>购物车</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mb-md--50">
                            <form class="cart-form" action="#">
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <div class="table-content table-responsive">
                                            <table class="table text-center">
                                                <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th class="text-left">商品</th>
                                                        <th>价格</th>
                                                        <th>数量</th>
                                                        <th>总金额</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="cartTbody">

                                                </tbody>
                                            </table>
                                        </div>  
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart-collaterals">
                                <div class="cart-totals">
                                    <h5 class="font-size-14 font-bold mb--15">购物小结</h5>
                                    <div class="cart-calculator">
                                        <div class="cart-calculator__item">
                                            <div class="cart-calculator__item--head">
                                                <span>总计</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                <span id="totalPricePre"></span>
                                            </div>
                                        </div>
                                        <!--购买时选择信息-->
                                        <!--<div class="cart-calculator__item">
                                            <div class="cart-calculator__item&#45;&#45;head">
                                                <span>Shipping</span>
                                            </div>
                                            <div class="cart-calculator__item&#45;&#45;value">
                                                <span>Flat rate: $20.00</span>
                                                <div class="shipping-calculator-wrap">
                                                    <a href="#shipping_calculator" class="expand-btn">Calculate Shipping</a>
                                                    <form id="shipping_calculator" class="form shipping-calculator-form hide-in-default">
                                                        <div class="form__group">
                                                            <select id="calc_shipping_country" name="calc_shipping_country" class="nice-select form__input&#45;&#45;select form__input&#45;&#45;2">
                                                                <option value="">Select a country…</option>
                                                                <option value="AF">Afghanistan</option>
                                                                <option value="AL">Albania</option>
                                                                <option value="DZ">Algeria</option>
                                                                <option value="AR">Argentina</option>
                                                                <option value="AM">Armenia</option>
                                                                <option value="AU">Australia</option>
                                                                <option value="AT">Austria</option>
                                                                <option value="AZ">Azerbaijan</option>
                                                                <option value="BH">Bahrain</option>
                                                                <option value="BD" selected="selected">Bangladesh</option>
                                                                <option value="BD">Brazil</option>
                                                                <option value="CN">China</option>
                                                                <option value="EG">Egypt</option>
                                                                <option value="FR">France</option>
                                                                <option value="DE">Germany</option>
                                                                <option value="HK">Hong Kong</option>
                                                                <option value="HU">Hungary</option>
                                                                <option value="IS">Iceland</option>
                                                                <option value="IN">India</option>
                                                                <option value="ID">Indonesia</option>
                                                                <option value="IR">Iran</option>
                                                                <option value="IQ">Iraq</option>
                                                                <option value="IE">Ireland</option>
                                                                <option value="IT">Italy</option>
                                                                <option value="JP">Japan</option>
                                                                <option value="KW">Kuwait</option>
                                                                <option value="MY">Malaysia</option>
                                                                <option value="MV">Maldives</option>
                                                                <option value="MX">Mexico</option>
                                                                <option value="MC">Monaco</option>
                                                                <option value="NP">Nepal</option>
                                                                <option value="RU">Russia</option>
                                                                <option value="KR">South Korea</option>
                                                                <option value="SS">South Sudan</option>
                                                                <option value="ES">Spain</option>
                                                                <option value="LK">Sri Lanka</option>
                                                                <option value="SD">Sudan</option>
                                                                <option value="SZ">Swaziland</option>
                                                                <option value="SE">Sweden</option>
                                                                <option value="CH">Switzerland</option>
                                                                <option value="TN">Tunisia</option>
                                                                <option value="TR">Turkey</option>
                                                                <option value="UA">Ukraine</option>
                                                                <option value="AE">United Arab Emirates</option>
                                                                <option value="GB">United Kingdom (UK)</option>
                                                                <option value="US">United States (US)</option>
                                                            </select>
                                                        </div>

                                                        <div class="form__group">
                                                            <select id="calc_shipping_district" name="calc_shipping_district" class="nice-select form__input&#45;&#45;select form__input&#45;&#45;2">
                                                                <option value="">Select a District…</option>
                                                                <option>BARISAL</option>
                                                                <option>BHOLA</option>
                                                                <option>BANDARBAN</option>
                                                                <option>BRAHMANBARIA</option>
                                                                <option>CHANDPUR</option>
                                                                <option>CHITTAGONG</option>
                                                                <option>COMILLA</option>
                                                                <option>COX'S BAZAR</option>
                                                                <option>DHAKA</option>
                                                                <option>FARIDPUR</option>
                                                                <option>FENI</option>
                                                                <option>GAZIPUR</option>
                                                                <option>GOPALGANJ</option>
                                                                <option>JAMALPUR</option>
                                                                <option>KHAGRACHHARI</option>
                                                                <option>KISHOREGONJ</option>
                                                                <option>LAKSHMIPU</option>
                                                                <option>RMADARIPUR</option>
                                                                <option>MUNSHIGANJ</option>
                                                                <option>MYMENSINGH</option>
                                                                <option>NARAYANGANJ</option>
                                                                <option>NARSINGDI</option>
                                                                <option>NETRAKONA</option>
                                                                <option>NOAKHALI</option>
                                                                <option>RANGAMATI </option>
                                                                <option>RAJBARI</option>
                                                                <option>SHARIATPUR</option>
                                                                <option>SHERPUR</option>
                                                                <option>TANGAIL</option>
                                                            </select>
                                                        </div>

                                                        <div class="form__group mb&#45;&#45;10 mb-sm&#45;&#45;15">
                                                            <input type="text" name="calc_shipping_city" id="calc_shipping_city" class="form__input form__input&#45;&#45;2" placeholder="Town / City">
                                                        </div>

                                                        <div class="form__group mb&#45;&#45;10 mb-sm&#45;&#45;15">
                                                            <input type="text" name="calc_shipping_zip" id="calc_shipping_zip" class="form__input form__input&#45;&#45;2" placeholder="Postcode / Zip">
                                                        </div>

                                                        <div class="form__group">
                                                            <input type="submit" value="Update Totals" class="btn-submit btn-submit&#45;&#45;small">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="cart-calculator__item order-total">
                                            <div class="cart-calculator__item--head">
                                                <span>折扣</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                <span class="product-price-wrapper">
                                                    <span class="money">0.0</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="cart-calculator__item">
                                            <div class="cart-calculator__item--head">
                                                <span>实付</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                <span id="totalPriceAfter"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<a href="checkout.html" class="btn btn-fullwidth btn-bg-red btn-color-white btn-hover-2">
                                    付款
                                </a>-->
                                <button id="payment_btn" class="btn btn-fullwidth btn-bg-red btn-color-white btn-hover-2">付款</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

        <div th:replace="footer :: footer"></div>

        <!-- Mini Cart Start -->
        <aside class="mini-cart" id="miniCart">
            <div class="mini-cart-wrapper">
                <a href="" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
                <div class="mini-cart-inner">
                    <h3 class="mini-cart__heading mb--40 mb-lg--30">购物车</h3>
                    <div class="mini-cart__content" >
                        <ul id="cart_ul" class="mini-cart__list">

                        </ul>

                        <div class="mini-cart__total">
                            <span>总计</span>
                            <span id="count_span" class="ammount"></span>
                        </div>
                        <div class="mini-cart__buttons">
                            <a href="/cart" class="btn btn-fullwidth btn-bg-sand mb--20">查看购物车</a>
                            <a href="checkout.html" class="btn btn-fullwidth btn-bg-sand">查看</a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- Mini Cart End -->

        <!-- Global Overlay Start -->
        <div class="zakas-global-overlay"></div>
        <!-- Global Overlay End -->
    </div>
    <!-- Main Wrapper End -->
 

    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="assets/js/vendor.js"></script>
    <script type="text/javascript" src="assets/js/vendor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    <script  language='javascript' th:inline="javascript">
        var ctxPath=[[${#httpServletRequest.getContextPath()}]];
        $("#cartHref").click(function () {
            var cart = Cookies.get("cart");
            if(cart != null && cart !== "") {
                var json = JSON.stringify(JSON.parse(decodeURIComponent(cart)));
            } else {
                return;
            }
            $.ajax({
                url: ctxPath + "/cartTransferStation",
                data: json,
                type: "POST",
                success: function (result) {
                    var cartItems = [];
                    for(var item in result) {
                        cartItems.push(result[item]);
                    }
                    add_Element_to_model(cartItems);
                }
            });
        });

        $(document).ready(function () {
            var cart = Cookies.get("cart");
            if(cart != null && cart !== "") {
                var json = JSON.stringify(JSON.parse(decodeURIComponent(cart)));
            } else {
                return;
            }
            $.ajax({
                url: ctxPath + "/cartTransferStation",
                data: json,
                type: "POST",
                success: function (result) {
                    var cartItems = [];
                    for(var item in result) {
                        cartItems.push(result[item]);
                    }
                    add_Element_to_page(cartItems);
                }
            });
        });

        $("#payment_btn").click(function () {
            var cart = Cookies.get("cart");
            if(cart != null && cart !== "") {
                var json = JSON.stringify(JSON.parse(decodeURIComponent(cart)));
            } else {
                return;
            }
            $.ajax({
                url: ctxPath + "/paymentByCart",
                type: "POST",
                async: false,
                success : function (result) {
                    if(result.extend.code === 100) {
                        debugger;
                        alert(result.extend.msg);
                        window.location.reload();
                    } else {
                        alert(result.extend.msg);
                    }
                }
            });
        });

        function add_Element_to_model(cartItems) {
            reset_cart();
            var production_Sum = 0;
            for(var i = 0; i < cartItems.length; i++) {
                var liTd = $("<li></li>").addClass("mini-cart__product");
                var deleteTd = $("<a id='deleteProByCart'></a>").addClass("remove-from-cart remove").attr("href","/deleteProductionByCart/"+cartItems[i].id+"?page=cart");
                var iTd = $("<i></i>").addClass("flaticon flaticon-cross");
                var divTd = $("<div></div>").addClass("mini-cart__product__content");
                var nameTd = $("<a href='product-details.html'></a>").addClass("mini-cart__product__title").append(cartItems[i].name);
                var countAndPrice = $("<span></span>").addClass("mini-cart__product__quantity").append(cartItems[i].count + ' × ' + cartItems[i].price + ' 元');
                // var productionId = $("<input id='hiddenId' type='hidden'>").append(cartItems[i].id);
                liTd.append(deleteTd.append(iTd)).append(divTd.append(nameTd).append(countAndPrice)).appendTo("#cart_ul");
                production_Sum += cartItems[i].price * cartItems[i].count;
            }
            $("#count_span").append(production_Sum.toFixed(2) + ' 元');
        }

        function add_Element_to_page(cartItems) {
            var production_Sum = 0;
            for(var i = 0; i < cartItems.length; i++) {
                var preTr = $("<tr></tr>");
                var removeTd = $("<td></td>").addClass("product-remove text-left");
                var removeA = $("<a></a>").attr("href","/deleteProductionByCart/"+cartItems[i].id+"?page=cart");
                var removeI = $("<i></i>").addClass("flaticon flaticon-cross");
                removeTd.append(removeA.append(removeI)).appendTo(preTr);

                var nameTd = $("<td></td>").addClass("product-name text-left wide-column");
                var nameH = $("<h3></h3>");
                var nameA = $("<a></a>").attr("href","product-details.html").append(cartItems[i].name);
                nameTd.append(nameH.append(nameA)).appendTo(preTr);

                var priceTd = $("<td></td>").addClass("product-price");
                var priceSpan = $("<span></span>").addClass("product-price-wrapper");
                var priceSpan2 = $("<span></span>").append(cartItems[i].price.toFixed(2) + " 元");
                priceTd.append(priceSpan.append(priceSpan2)).appendTo(preTr);

                var countTd = $("<td></td>").addClass("product-quantity");
                var countDiv = $("<div></div>").addClass("quantity");
                var countInput = $("<input id='qty-1'>").addClass("quantity-input").attr("type","number").attr("name","count").attr("value",cartItems[i].count).attr("min",1);
                countTd.append(countDiv.append(countInput)).appendTo(preTr);

                var totalTd = $("<td></td>").addClass("product-total-price");
                var totalSpan = $("<span></span>").addClass("product-price-wrapper");
                var totalSpan2 = $("<span></span>").addClass("money").append((cartItems[i].price * cartItems[i].count).toFixed(2) + " 元");
                totalTd.append(totalSpan.append(totalSpan2)).appendTo(preTr);
                preTr.appendTo("#cartTbody");

                production_Sum += cartItems[i].price * cartItems[i].count;
            }
            $("#totalPricePre").append(production_Sum.toFixed(2) + " 元");
            $("#totalPriceAfter").append(production_Sum.toFixed(2
            ) + " 元");
        }

        function reset_cart() {
            var ul = document.getElementById("cart_ul");
            while(ul.hasChildNodes()) {
                ul.removeChild(ul.firstChild);
            }
            $("#count_span").text("");
        }

    </script>

</body>

</html>