<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>大润发 - 登录失败</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <script type="text/javascript" src="documentation/assets/js/jquery.js"></script>

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/css/vendor.css">

    <!-- style css -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<!-- Preloader Start -->
<div class="zakas-preloader active">
    <div class="zakas-preloader-inner h-100 d-flex align-items-center justify-content-center">
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- 导航栏 -->
    <header class="header">
        <div class="header-inner fixed-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-10 col-lg-9 col-3">
                        <nav class="main-navigation">
                            <div class="site-branding">
                                <a href="/" class="logo">
                                    <figure class="logo--normal">
                                        <img src="assets/img/logo/logo.png" alt="Logo">
                                    </figure>
                                </a>
                            </div>
                            <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator == null}">
                                <ul class="mainmenu">
                                    <li class="mainmenu__item menu-item-has-children active">
                                        <a href="/" class="mainmenu__link">
                                            <span class="mm-text">主页</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="/shopController" class="mainmenu__link">
                                            <span class="mm-text">商店</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="Blog.html" class="mainmenu__link">
                                            <span class="mm-text">通知</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item">
                                        <a href="contact-us.html" class="mainmenu__link">
                                            <span class="mm-text">联系我们</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator != null}">
                                <ul class="mainmenu">
                                    <li class="mainmenu__item menu-item-has-children active">
                                        <a href="/" class="mainmenu__link">
                                            <span class="mm-text">主页</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="/showProductionList" class="mainmenu__link">
                                            <span class="mm-text">商品列表</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="Blog.html" class="mainmenu__link">
                                            <span class="mm-text">创建通知</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-9 text-right">
                        <!--用户登录时导航信息-->
                        <ul class="header-toolbar" th:if="${session.user != null && session.administrator == null}">
                            <li class="header-toolbar__item">
                                <a href="wishlist.html" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-like"></i>
                                </a>
                            </li>
                            <!--购物车模态框-->
                            <li class="header-toolbar__item mini-cart-item">
                                <a id="cartHref" href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                    <i class="flaticon flaticon-shopping-cart"></i>
                                </a>
                            </li>

                            <li class="header-toolbar__item user-info">
                                <a href="/myAccount" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="active user-info-menu">
                                    <li>
                                        <a href="/myAccount">我的账户</a>
                                    </li>
                                    <li>
                                        <a href="cart.html">购物车</a>
                                    </li>

                                    <li>
                                        <a href="wishlist.html">心愿列表</a>
                                    </li>
                                    <li>
                                        <a href="/logout">登出</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item d-lg-none">
                                <a href="#" class="header-toolbar__btn menu-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>

                        <!--用户未登录时导航信息-->
                        <ul class="header-toolbar" th:if="${session.user == null && session.administrator == null} ">
                            <li class="header-toolbar__item user-info">
                                <a href="/loginOrRegister" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="active user-info-menu">
                                    <li>
                                        <a href="/loginOrRegister">登录 & 注册</a>
                                    </li>
                                    <li>
                                        <a href="/managerLoginTemp">管理员登录</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item d-lg-none">
                                <a href="#" class="header-toolbar__btn menu-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>

                        <!--管理员登录时-->
                        <!--用户登录时导航信息-->
                        <ul class="header-toolbar" th:if="${session.user == null && session.administrator != null}">
                            <li class="header-toolbar__item user-info">
                                <a href="/managerPage" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="active user-info-menu">
                                    <li>
                                        <a href="/showProductionList">商品列表</a>
                                    </li>
                                    <li>
                                        <a href="/managerPage">添加新的商品</a>
                                    </li>
                                    <li>
                                        <a href="/logout">登出</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item d-lg-none">
                                <a href="#" class="header-toolbar__btn menu-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 查询页面 -->
    <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
        <div class="searchform__body">
            <p>开始输入内容，然后按Enter键进行搜索</p>
            <form class="searchform">
                <input type="text" name="popup-search" id="popup-search" class="searchform__input" placeholder="搜索整个商店...">
                <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i></button>
            </form>
        </div>
    </div>
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">登录失败，用户名或密码错误！
                            <a href="/">点此回主页 </a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <div th:replace="footer :: footer"></div>


    <!-- Global Overlay Start -->
    <div class="zakas-global-overlay"></div>
    <!-- Global Overlay End -->
</div>

<!-- ************************* JS Files ************************* -->

<!-- jQuery JS -->
<script src="assets/js/vendor.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>


</body>
</html>