<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>大润发 - 登录 & 注册</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <script type="text/javascript" src="documentation/assets/js/jquery.js"></script>

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/css/vendor.css">

    <!-- style css -->
    <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>

    <!-- Preloader Start -->
    <div class="zakas-preloader active">
        <div class="zakas-preloader-inner h-100 d-flex align-items-center justify-content-center">
            <div class="zakas-child zakas-bounce1"></div>
            <div class="zakas-child zakas-bounce2"></div>
            <div class="zakas-child zuka-bounce3"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- 导航栏 -->
        <header class="header">
            <div class="header-inner fixed-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-10 col-lg-9 col-3">
                            <nav class="main-navigation">
                                <div class="site-branding">
                                    <a href="/" class="logo">
                                        <figure class="logo--normal">
                                            <img src="assets/img/logo/logo.png" alt="Logo">
                                        </figure>
                                    </a>
                                </div>
                                <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator == null}">
                                    <ul class="mainmenu">
                                        <li class="mainmenu__item menu-item-has-children active">
                                            <a href="/" class="mainmenu__link">
                                                <span class="mm-text">主页</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="/shopController" class="mainmenu__link">
                                                <span class="mm-text">商店</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="Blog.html" class="mainmenu__link">
                                                <span class="mm-text">通知</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item">
                                            <a href="contact-us.html" class="mainmenu__link">
                                                <span class="mm-text">联系我们</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator != null}">
                                    <ul class="mainmenu">
                                        <li class="mainmenu__item menu-item-has-children active">
                                            <a href="/" class="mainmenu__link">
                                                <span class="mm-text">主页</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="/showProductionList" class="mainmenu__link">
                                                <span class="mm-text">商品列表</span>
                                            </a>
                                        </li>
                                        <li class="mainmenu__item menu-item-has-children">
                                            <a href="Blog.html" class="mainmenu__link">
                                                <span class="mm-text">创建通知</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-9 text-right">
                            <!--用户登录时导航信息-->
                            <ul class="header-toolbar" th:if="${session.user != null && session.administrator == null}">
                                <li class="header-toolbar__item">
                                    <a href="wishlist.html" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-like"></i>
                                    </a>
                                </li>
                                <!--购物车模态框-->
                                <li class="header-toolbar__item mini-cart-item">
                                    <a id="cartHref" href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                        <i class="flaticon flaticon-shopping-cart"></i>
                                    </a>
                                </li>

                                <li class="header-toolbar__item user-info">
                                    <a href="/myAccount" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                    <ul class="active user-info-menu">
                                        <li>
                                            <a href="/myAccount">我的账户</a>
                                        </li>
                                        <li>
                                            <a href="cart.html">购物车</a>
                                        </li>

                                        <li>
                                            <a href="wishlist.html">心愿列表</a>
                                        </li>
                                        <li>
                                            <a href="/logout">登出</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="header-toolbar__item">
                                    <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                        <i class="flaticon flaticon-search"></i>
                                    </a>
                                </li>
                                <li class="header-toolbar__item d-lg-none">
                                    <a href="#" class="header-toolbar__btn menu-btn">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>

                            <!--用户未登录时导航信息-->
                            <ul class="header-toolbar" th:if="${session.user == null && session.administrator == null} ">
                                <li class="header-toolbar__item user-info">
                                    <a href="/loginOrRegister" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                    <ul class="active user-info-menu">
                                        <li>
                                            <a href="/loginOrRegister">登录 & 注册</a>
                                        </li>
                                        <li>
                                            <a href="/managerLoginTemp">管理员登录</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="header-toolbar__item">
                                    <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                        <i class="flaticon flaticon-search"></i>
                                    </a>
                                </li>
                                <li class="header-toolbar__item d-lg-none">
                                    <a href="#" class="header-toolbar__btn menu-btn">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>

                            <!--管理员登录时-->
                            <!--用户登录时导航信息-->
                            <ul class="header-toolbar" th:if="${session.user == null && session.administrator != null}">
                                <li class="header-toolbar__item user-info">
                                    <a href="/managerPage" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                    <ul class="active user-info-menu">
                                        <li>
                                            <a href="/showProductionList">商品列表</a>
                                        </li>
                                        <li>
                                            <a href="/managerPage">添加新的商品</a>
                                        </li>
                                        <li>
                                            <a href="/logout">登出</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="header-toolbar__item">
                                    <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                        <i class="flaticon flaticon-search"></i>
                                    </a>
                                </li>
                                <li class="header-toolbar__item d-lg-none">
                                    <a href="#" class="header-toolbar__btn menu-btn">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 查询页面 -->
        <div class="searchform__popup" id="searchForm">
            <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="searchform__body">
                <p>开始输入内容，然后按Enter键进行搜索</p>
                <form class="searchform">
                    <input type="text" name="popup-search" id="popup-search" class="searchform__input" placeholder="搜索整个商店...">
                    <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i></button>
                </form>
            </div>
        </div>

        <!-- Breadcrumb area Start -->
        <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                            <h1 class="page-title">登录 &amp; 注册</h1>
                            <ul class="breadcrumb">
                                <li><a href="/">主页</a></li>
                                <li class="current"><span>登录 &amp; 注册</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner pt--75 pb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-sm--50">
                            <div class="login-box">
                                <h3 class="heading__tertiary mb--30">登录</h3>
                                <form class="form form--login" action="/login">
                                    <div class="form__group mb--20">
                                        <label class="form__label form__label--2" for="username_email"> Email <span class="required">*</span></label>
                                        <input type="email" class="form__input form__input--2" id="username_email" name="email" autocomplete="off">
                                        <span class="helpBlock"></span>
                                    </div>
                                    <div class="form__group mb--20">
                                       <label class="form__label form__label--2" for="login_password">密码 <span class="required">*</span></label>
                                        <input type="password" class="form__input form__input--2" id="login_password" name="password">
                                        <span class="helpBlock"></span>
                                    </div>
                                    <div class="d-flex align-items-center mb--20">
                                        <div class="form__group mr--30">
                                            <input id="login_submit" type="submit" value="登录" class="btn-submit">
                                        </div>
                                        <div class="form__group">
                                            <label class="form__label checkbox-label" for="store_session">
                                                <input type="checkbox" name="store_session" id="store_session">
                                                <span>记住我</span>
                                            </label>
                                        </div>
                                    </div>
                                    <a class="forgot-pass" href="#">忘记密码？</a>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="register-box">
                                <h4 class="heading__tertiary mb--30">注册</h4>
                                <form class="form form--login" action="/register" method="post">
                                    <div class="form__group mb--20">
                                        <label class="form__label form__label--2" for="email">Email <span class="required">*</span></label>
                                        <input type="email" class="form__input form__input--2" id="email" name="email" autocomplete="off">
                                        <span class="helpBlock"></span>
                                    </div>
                                    <div class="form__group mb--20">
                                       <label class="form__label form__label--2" for="register_password">密码 <span class="required">*</span></label>
                                        <input type="password" class="form__input form__input--2" id="register_password" name="password">
                                        <span class="helpBlock"></span>
                                    </div>
                                    <div class="form__group mb--20">
                                        <label class="form__label form__label--2" for="register_password">确认密码 <span class="required">*</span></label>
                                        <input type="password" class="form__input form__input--2" id="confirm_register_password" name="confirm_password">
                                        <span class="helpBlock"></span>
                                    </div>
                                    <p class="privacy-text mb--20">您的个人数据将用于支持您在整个网站上的体验，管理对帐户的访问以及用于我们的隐私政策中所述的其他目的。</p>
                                    <div class="form__group">
                                        <input id="register_submit" type="submit" value="注册" class="btn btn-submit btn-style-1">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

        <script type="text/javascript" th:inline="javascript">
            //获取项目根目录
            var ctxPath=[[${#httpServletRequest.getContextPath()}]];

            //注册时验证
            function validate_register_form() {
                //验证邮箱信息
                var email = $("#email").val();
                var regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
                if(email == null || email === "") {
                    show_validate_msg("#email","error","邮箱不能为空！");
                    return false;
                } else if(!regEmail.test(email)) {
                    show_validate_msg("#email","error","邮箱格式不正确");
                    return false;
                } else {
                    show_validate_msg("#email","success","");
                }

                //验证密码
                var password = $("#register_password").val();
                var confirm_password = $("#confirm_register_password").val();
                var regPassword = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/;
                if(password == null || password === "") {
                    show_validate_msg("#register_password","error","密码必须包含字母和数字，且长度在8~16位之间！");
                    return false;
                } else if(!regPassword.test(password)) {
                    show_validate_msg("#register_password","error","密码必须包含字母和数字，且长度在8~16位之间！");
                    return false;
                } else {
                    if(password !== confirm_password) {
                        show_validate_msg("#register_password","success","");
                        show_validate_msg("#confirm_register_password","error","两次密码输入不一致！");
                        return false;
                    }
                    show_validate_msg("#register_password","success","");
                }
                return true;
            }

            //登录时验证
            function validate_login_form() {
                var email = $("#username_email").val();
                var regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
                if(email == null || email === "") {
                    show_validate_msg("#username_email","error","邮箱不能为空！");
                    return false;
                } else if(!regEmail.test(email)) {
                    show_validate_msg("#username_email","error","邮箱格式不正确!");
                    return false;
                } else {
                    show_validate_msg("#username_email","success","");
                }

                var password = $("#login_password").val();
                if(password == null || password === "") {
                    show_validate_msg("#login_password","error","密码不能为空！");
                    return false;
                } else {
                    show_validate_msg("#register_password","success","");
                }
                return true;
            }

            //显示校验结果的提示
            function show_validate_msg(ele,status,msg) {
                //清楚当前元素校验状态
                $(ele).parent().removeClass("has-success has-error");
                $(ele).next("span").text("");
                if(status == "success") {
                    $(ele).parent().addClass("has-success");
                    $(ele).next("span").text(msg);
                } else if (status == "error"){
                    $(ele).parent().addClass("has-error");
                    $(ele).next("span").text(msg);
                }
            }

            //点击注册时进行验证
            $("#register_submit").click(function () {
                //进行邮箱和密码的校验
                if(!validate_register_form()) {
                    return false;
                }
            });

            //验证注册邮箱是否可用
            $("#email").change(function () {
                var register_email = this.value;
                $.ajax({
                    url:ctxPath + "/checkEmail",
                    data:"email=" + register_email,
                    type:"POST",
                    success:function (result) {
                        if(result.code === 100) {
                            show_validate_msg("#email","success","");
                        } else {
                            show_validate_msg("#email","error",result.extend.va_msg);
                        }
                    }
                });
            });

            //点击登录时进行验证
            $("#login_submit").click(function () {
                if(!validate_login_form()) {
                    return false;
                }
            });

        </script>

       <div th:replace="footer :: footer"></div>

        <!-- Global Overlay Start -->
        <div class="zakas-global-overlay"></div>
        <!-- Global Overlay End -->
    </div>
    <!-- Main Wrapper End -->
 

    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="assets/js/vendor.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>