<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navi">
            <!-- 导航栏 -->
            <header class="header">
                <div class="header-inner fixed-header">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-10 col-lg-9 col-3">
                                <nav class="main-navigation">
                                    <div class="site-branding">
                                        <a href="/" class="logo">
                                            <figure class="logo--normal">
                                                <img src="assets/img/logo/logo.png" alt="Logo">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator == null}">
                                        <ul class="mainmenu">
                                            <li class="mainmenu__item menu-item-has-children active">
                                                <a href="/" class="mainmenu__link">
                                                    <span class="mm-text">主页</span>
                                                </a>
                                            </li>
                                            <li class="mainmenu__item menu-item-has-children">
                                                <a href="/shopController" class="mainmenu__link">
                                                    <span class="mm-text">商店</span>
                                                </a>
                                            </li>
                                            <li class="mainmenu__item menu-item-has-children">
                                                <a href="Blog.html" class="mainmenu__link">
                                                    <span class="mm-text">通知</span>
                                                </a>
                                            </li>
                                            <li class="mainmenu__item">
                                                <a href="contact-us.html" class="mainmenu__link">
                                                    <span class="mm-text">联系我们</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator != null}">
                                        <ul class="mainmenu">
                                            <li class="mainmenu__item menu-item-has-children active">
                                                <a href="/" class="mainmenu__link">
                                                    <span class="mm-text">主页</span>
                                                </a>
                                            </li>
                                            <li class="mainmenu__item menu-item-has-children">
                                                <a href="/shopController" class="mainmenu__link">
                                                    <span class="mm-text">查看商店</span>
                                                </a>
                                            </li>
                                            <li class="mainmenu__item menu-item-has-children">
                                                <a href="Blog.html" class="mainmenu__link">
                                                    <span class="mm-text">创建通知</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-9 text-right">
                                <!--用户登录时导航信息-->
                                <ul class="header-toolbar" th:if="${session.user != null && session.administrator == null}">
                                    <li class="header-toolbar__item">
                                        <a href="wishlist.html" class="header-toolbar__btn">
                                            <i class="flaticon flaticon-like"></i>
                                        </a>
                                    </li>
                                    <!--购物车模态框-->
                                    <li class="header-toolbar__item mini-cart-item">
                                        <a id="cartHref" href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                            <i class="flaticon flaticon-shopping-cart"></i>
                                            <sup class="mini-cart-count"></sup>
                                        </a>
                                    </li>
                                    <li class="header-toolbar__item user-info">
                                        <a href="/myAccount" class="header-toolbar__btn">
                                            <i class="flaticon flaticon-user"></i>
                                        </a>
                                        <ul class="active user-info-menu">
                                            <li>
                                                <a href="/myAccount">我的账户</a>
                                            </li>
                                            <li>
                                                <a href="cart.html">购物车</a>
                                            </li>

                                            <li>
                                                <a href="wishlist.html">心愿列表</a>
                                            </li>
                                            <li>
                                                <a href="order-tracking.html">订单列表</a>
                                            </li>
                                            <li>
                                                <a href="/logout">登出</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-toolbar__item">
                                        <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                            <i class="flaticon flaticon-search"></i>
                                        </a>
                                    </li>
                                    <li class="header-toolbar__item d-lg-none">
                                        <a href="#" class="header-toolbar__btn menu-btn">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </li>
                                </ul>

                                <!--用户未登录时导航信息-->
                                <ul class="header-toolbar" th:if="${session.user == null && session.administrator == null} ">
                                    <li class="header-toolbar__item user-info">
                                        <a href="/loginOrRegister" class="header-toolbar__btn">
                                            <i class="flaticon flaticon-user"></i>
                                        </a>
                                        <ul class="active user-info-menu">
                                            <li>
                                                <a href="/loginOrRegister">登录 & 注册</a>
                                            </li>
                                            <li>
                                                <a href="/managerLoginTemp">管理员登录</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="header-toolbar__item">
                                        <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                            <i class="flaticon flaticon-search"></i>
                                        </a>
                                    </li>
                                    <li class="header-toolbar__item d-lg-none">
                                        <a href="#" class="header-toolbar__btn menu-btn">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </li>
                                </ul>

                                <!--管理员登录时-->
                                <!--用户登录时导航信息-->
                                <ul class="header-toolbar" th:if="${session.user == null && session.administrator != null}">
                                    <li class="header-toolbar__item user-info">
                                        <a href="/managerPage" class="header-toolbar__btn">
                                            <i class="flaticon flaticon-user"></i>
                                        </a>
                                        <ul class="active user-info-menu">
                                            <li>
                                                <a href="/showProductionList">商品列表</a>
                                            </li>
                                            <li>
                                                <a href="/managerPage">添加新的商品</a>
                                            </li>
                                            <li>
                                                <a href="/logout">登出</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-toolbar__item">
                                        <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                            <i class="flaticon flaticon-search"></i>
                                        </a>
                                    </li>
                                    <li class="header-toolbar__item d-lg-none">
                                        <a href="#" class="header-toolbar__btn menu-btn">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mobile-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- 查询页面 -->
            <div class="searchform__popup" id="searchForm">
                <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
                <div class="searchform__body">
                    <p>开始输入内容，然后按Enter键进行搜索</p>
                    <form class="searchform">
                        <input type="text" name="popup-search" id="popup-search" class="searchform__input" placeholder="搜索整个商店...">
                        <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i></button>
                    </form>
                </div>
            </div>
         </div>
    </body>

    <script>
        $("#cartHref").click(function () {
            alert("模特框打开了");
        });
    </script>
</html>