<html class="no-js" lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>大润发 - 未登录</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="assets/img/icon.png">

    <script type="text/javascript" src="documentation/assets/js/jquery.js"></script>

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="assets/css/vendor.css">

    <!-- style css -->
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<!-- Preloader Start -->
<div class="zakas-preloader active">
    <div class="zakas-preloader-inner h-100 d-flex align-items-center justify-content-center">
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- 导航栏 -->
    <header class="header">
        <div class="header-inner fixed-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-10 col-lg-9 col-3">
                        <nav class="main-navigation">
                            <div class="site-branding">
                                <a href="/" class="logo">
                                    <figure class="logo--normal">
                                        <img src="assets/img/logo/logo.png" alt="Logo">
                                    </figure>
                                </a>
                            </div>
                            <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator == null}">
                                <ul class="mainmenu">
                                    <li class="mainmenu__item menu-item-has-children active">
                                        <a href="/" class="mainmenu__link">
                                            <span class="mm-text">主页</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="/shopController" class="mainmenu__link">
                                            <span class="mm-text">商店</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="Blog.html" class="mainmenu__link">
                                            <span class="mm-text">通知</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item">
                                        <a href="contact-us.html" class="mainmenu__link">
                                            <span class="mm-text">联系我们</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mainmenu-nav d-none d-lg-block" th:if="${session.administrator != null}">
                                <ul class="mainmenu">
                                    <li class="mainmenu__item menu-item-has-children active">
                                        <a href="/" class="mainmenu__link">
                                            <span class="mm-text">主页</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="/showProductionList" class="mainmenu__link">
                                            <span class="mm-text">商品列表</span>
                                        </a>
                                    </li>
                                    <li class="mainmenu__item menu-item-has-children">
                                        <a href="Blog.html" class="mainmenu__link">
                                            <span class="mm-text">创建通知</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-9 text-right">
                        <!--用户登录时导航信息-->
                        <ul class="header-toolbar" th:if="${session.user != null && session.administrator == null}">
                            <li class="header-toolbar__item">
                                <a href="wishlist.html" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-like"></i>
                                </a>
                            </li>
                            <!--购物车模态框-->
                            <li class="header-toolbar__item mini-cart-item">
                                <a id="cartHref" href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                    <i class="flaticon flaticon-shopping-cart"></i>
                                </a>
                            </li>

                            <li class="header-toolbar__item user-info">
                                <a href="/myAccount" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="active user-info-menu">
                                    <li>
                                        <a href="/myAccount">我的账户</a>
                                    </li>
                                    <li>
                                        <a href="cart.html">购物车</a>
                                    </li>

                                    <li>
                                        <a href="wishlist.html">心愿列表</a>
                                    </li>
                                    <li>
                                        <a href="/logout">登出</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item d-lg-none">
                                <a href="#" class="header-toolbar__btn menu-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>

                        <!--用户未登录时导航信息-->
                        <ul class="header-toolbar" th:if="${session.user == null && session.administrator == null} ">
                            <li class="header-toolbar__item user-info">
                                <a href="/loginOrRegister" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="active user-info-menu">
                                    <li>
                                        <a href="/loginOrRegister">登录 & 注册</a>
                                    </li>
                                    <li>
                                        <a href="/managerLoginTemp">管理员登录</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item d-lg-none">
                                <a href="#" class="header-toolbar__btn menu-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>

                        <!--管理员登录时-->
                        <!--用户登录时导航信息-->
                        <ul class="header-toolbar" th:if="${session.user == null && session.administrator != null}">
                            <li class="header-toolbar__item user-info">
                                <a href="/managerPage" class="header-toolbar__btn">
                                    <i class="flaticon flaticon-user"></i>
                                </a>
                                <ul class="active user-info-menu">
                                    <li>
                                        <a href="/showProductionList">商品列表</a>
                                    </li>
                                    <li>
                                        <a href="/managerPage">添加新的商品</a>
                                    </li>
                                    <li>
                                        <a href="/logout">登出</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item d-lg-none">
                                <a href="#" class="header-toolbar__btn menu-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 查询页面 -->
    <div class="searchform__popup" id="searchForm">
        <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
        <div class="searchform__body">
            <p>开始输入内容，然后按Enter键进行搜索</p>
            <form class="searchform">
                <input type="text" name="popup-search" id="popup-search" class="searchform__input" placeholder="搜索整个商店...">
                <button type="submit" class="searchform__submit"><i class="flaticon flaticon-magnifying-glass-icon"></i></button>
            </form>
        </div>
    </div>
    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title">商品添加成功！
                            <a href="/managerPage">继续添加 </a> &
                            <a href="/showProductionList">查看商品列表 </a>
                            <a href="/">主页 </a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <div th:replace="footer :: footer"></div>

    <!-- Mini Cart Start -->
    <aside class="mini-cart" id="miniCart">
        <div class="mini-cart-wrapper">
            <a href="" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="mini-cart-inner">
                <h3 class="mini-cart__heading mb--40 mb-lg--30">购物车</h3>
                <div class="mini-cart__content">
                    <ul class="mini-cart__list">
                        <li class="mini-cart__product">
                            <a href="#" class="remove-from-cart remove">
                                <i class="flaticon flaticon-cross"></i>
                            </a>
                            <div class="mini-cart__product__image">
                                <img src="assets/img/products/prod-1-100x100.jpg" alt="products">
                            </div>
                            <div class="mini-cart__product__content">
                                <a class="mini-cart__product__title" href="product-details.html">Chain print bermuda shorts  </a>
                                <span class="mini-cart__product__quantity">1 x $49.00</span>
                            </div>
                        </li>
                        <li class="mini-cart__product">
                            <a href="#" class="remove-from-cart remove">
                                <i class="flaticon flaticon-cross"></i>
                            </a>
                            <div class="mini-cart__product__image">
                                <img src="assets/img/products/prod-2-100x100.jpg" alt="products">
                            </div>
                            <div class="mini-cart__product__content">
                                <a class="mini-cart__product__title" href="product-details.html">Waxed-effect pleated skirt</a>
                                <span class="mini-cart__product__quantity">1 x $49.00</span>
                            </div>
                        </li>
                        <li class="mini-cart__product">
                            <a href="#" class="remove-from-cart remove">
                                <i class="flaticon flaticon-cross"></i>
                            </a>
                            <div class="mini-cart__product__image">
                                <img src="assets/img/products/prod-5-100x100.jpg" alt="products">
                            </div>
                            <div class="mini-cart__product__content">
                                <a class="mini-cart__product__title" href="product-details.html">Waxed-effect pleated skirt</a>
                                <span class="mini-cart__product__quantity">1 x $49.00</span>
                            </div>
                        </li>
                    </ul>
                    <div class="mini-cart__total">
                        <span>总计</span>
                        <span class="ammount">$98.00</span>
                    </div>
                    <div class="mini-cart__buttons">
                        <a href="cart.html" class="btn btn-fullwidth btn-bg-sand mb--20">查看购物车</a>
                        <a href="checkout.html" class="btn btn-fullwidth btn-bg-sand">查看</a>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- Mini Cart End -->

    <!-- Global Overlay Start -->
    <div class="zakas-global-overlay"></div>
    <!-- Global Overlay End -->

    <!-- Qicuk View Modal Start -->
    <div class="modal fade product-modal" id="productModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="flaticon flaticon-cross"></i></span>
                    </button>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="zakas-element-carousel nav-vertical-center"
                                 data-slick-options='{
                            "slidesToShow": 1,
                            "slidesToScroll": 1,
                            "arrows": true,
                            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-double-left" },
                            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-double-right" }
                        }'
                            >
                                <div class="product-image">
                                    <div class="product-image--holder">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/prod-9-1.jpg" alt="Product Image" class="primary-image">
                                        </a>
                                    </div>
                                    <span class="product-badge sale">sale</span>
                                </div>
                                <div class="product-image">
                                    <div class="product-image--holder">
                                        <a href="product-details.html">
                                            <img src="assets/img/products/prod-9-1.jpg" alt="Product Image" class="primary-image">
                                        </a>
                                    </div>
                                    <span class="product-badge sale">sale</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="modal-box product-summary">
                                <div class="product-navigation text-right mb--20">
                                    <a href="#" class="prev"><i class="fa fa-angle-double-left"></i></a>
                                    <a href="#" class="next"><i class="fa fa-angle-double-right"></i></a>
                                </div>
                                <div class="product-rating d-flex mb--20">
                                    <div class="star-rating star-three">
                                        <span>Rated <strong class="rating">5.00</strong> out of 5</span>
                                    </div>
                                </div>
                                <h3 class="product-title mb--20">Black Blazer</h3>
                                <p class="product-short-description mb--25">Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu.</p>
                                <div class="product-price-wrapper mb--25">
                                    <span class="money">$200.00</span>
                                    <span class="price-separator">-</span>
                                    <span class="money">$400.00</span>
                                </div>
                                <form action="#" class="variation-form mb--30">
                                    <div class="product-color-variations d-flex align-items-center mb--20">
                                        <p class="variation-label">Color:</p>
                                        <div class="product-color-variation variation-wrapper">
                                            <div class="variation">
                                                <a class="product-color-variation-btn red selected" data-toggle="tooltip" data-placement="top" title="Red">
                                                    <span class="product-color-variation-label">Red</span>
                                                </a>
                                            </div>
                                            <div class="variation">
                                                <a class="product-color-variation-btn black" data-toggle="tooltip" data-placement="top" title="Black">
                                                    <span class="product-color-variation-label">Black</span>
                                                </a>
                                            </div>
                                            <div class="variation">
                                                <a class="product-color-variation-btn pink" data-toggle="tooltip" data-placement="top" title="Pink">
                                                    <span class="product-color-variation-label">Pink</span>
                                                </a>
                                            </div>
                                            <div class="variation">
                                                <a class="product-color-variation-btn blue" data-toggle="tooltip" data-placement="top" title="Blue">
                                                    <span class="product-color-variation-label">Blue</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-size-variations d-flex align-items-center mb--15">
                                        <p class="variation-label">Size:</p>
                                        <div class="product-size-variation variation-wrapper">
                                            <div class="variation">
                                                <a class="product-size-variation-btn selected" data-toggle="tooltip" data-placement="top" title="S">
                                                    <span class="product-size-variation-label">S</span>
                                                </a>
                                            </div>
                                            <div class="variation">
                                                <a class="product-size-variation-btn" data-toggle="tooltip" data-placement="top" title="M">
                                                    <span class="product-size-variation-label">M</span>
                                                </a>
                                            </div>
                                            <div class="variation">
                                                <a class="product-size-variation-btn" data-toggle="tooltip" data-placement="top" title="L">
                                                    <span class="product-size-variation-label">L</span>
                                                </a>
                                            </div>
                                            <div class="variation">
                                                <a class="product-size-variation-btn" data-toggle="tooltip" data-placement="top" title="XL">
                                                    <span class="product-size-variation-label">XL</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="" class="reset_variations">Clear</a>
                                </form>
                                <div class="product-action d-flex flex-sm-row flex-column align-items-sm-center align-items-start mb--30">
                                    <div class="quantity-wrapper d-flex align-items-center mr--30 mr-xs--0 mb-xs--30">
                                        <label class="quantity-label" for="quick-qty">Quantity:</label>
                                        <div class="quantity">
                                            <input type="number" class="quantity-input" name="qty" id="quick-qty" value="1" min="1">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-small btn-bg-red btn-color-white btn-hover-2" onclick="window.location.href='cart.html'">
                                        Add To Cart
                                    </button>
                                </div>
                                <div class="product-footer-meta">
                                    <p><span>Category:</span>
                                        <a href="shop.html">Full Sweater</a>,
                                        <a href="shop.html">SweatShirt</a>,
                                        <a href="shop.html">Jacket</a>,
                                        <a href="shop.html">Blazer</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Qicuk View Modal End -->
</div>

<!-- ************************* JS Files ************************* -->

<!-- jQuery JS -->
<script src="assets/js/vendor.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>


</body>
</html>